
*.xcuserstate
de-lbmg-ios-master/Tours/NotLost.xcodeproj/project.xcworkspace/xcuserdata/*
de-lbmg-ios-master/Tours/NotLost.xcodeproj/project.xcworkspace/xcuserdata/superrunt.xcuserdatad/UserInterfaceState.xcuserstate
certs_profiles/*
*.xcbkptlist

*.xcbkptlist

de-lbmg-ios-master/Tours/NotLost.xcodeproj/xcuserdata/superrunt.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

de-lbmg-ios-master/Tours/NotLost.xcodeproj/xcuserdata/superrunt.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

*.xcscheme

*.xcworkspacedata


*.xccheckout

*.xcsettings

de-lbmg-ios-master/Tours/SlenderBackup 2013-10-09 163512/NotLost.xcodeproj/xcuserdata/Resolution.xcuserdatad/xcschemes/xcschememanagement.plist

de-lbmg-ios-master/Tours/SlenderBackup 2013-10-09 163512/NotLost.xcodeproj/xcuserdata/amanreetbajwa.xcuserdatad/xcschemes/xcschememanagement.plist

de-lbmg-ios-master/Tours/SlenderBackup 2013-10-09 163512/NotLost.xcodeproj/xcuserdata/superrunt.xcuserdatad/xcschemes/xcschememanagement.plist
