
*.xcuserstate
de-lbmg-ios-master/Tours/NotLost.xcodeproj/project.xcworkspace/xcuserdata/*
de-lbmg-ios-master/Tours/NotLost.xcodeproj/project.xcworkspace/xcuserdata/superrunt.xcuserdatad/UserInterfaceState.xcuserstate
certs_profiles/*
*.xcbkptlist
